.cart {
    z-index: 99999999;
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    width: 40%;
    height: 100vh;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    padding: 30px;
}

.show {
    margin-right: 0%;
    animation: slideIn 0.2s linear;
}

.hide {
    margin-right: -45%;
    animation: slideOut 0.2s linear;
}

@keyframes slideIn {
    0% {
        margin-right: -45%;
    }

    100% {
        margin-right: 0%;
    }
}

@keyframes slideOut {
    0% {
        margin-right: 0%;
    }

    100% {
        margin-right: -45%;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 30px;
}

.closeButton {
    width: 30px;
    height: 30px;
    font-size: 30px;
    background-color: rgba(98, 98, 98, .3);
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    transition: all 0.2s linear;
}

.closeButton:hover {
    background-color: rgba(98, 98, 98, .5);
    cursor: pointer;
    color: #fff;
    transition: all 0.2s linear;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.container::-webkit-scrollbar {
    display: none;
}

.noItems {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgba(98, 98, 98, .5);
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.totalPrice {
    font-size: 25px;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: rgb(253, 109, 7);
}

.buttons {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.button {
    width: 40%;
    height: 50px;
    border-radius: 32px;
    font-size: 20px;
    color: #fff;
    border: none;
    transition: all 0.2s linear;
}

.button:hover {
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.64);
    transition: all 0.2s linear;
}

.button:nth-child(1) {
    background-color: rgb(136, 210, 7);
}

.button:nth-child(2) {
    background-color: rgb(225, 10, 10);
}