.catalog {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.catalog>h2 {
    font-size: 36px;
    font-weight: bold;
}

.items {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 32px;
}

@media screen and (max-width: 587px) {
    .item {
        width: 100%;
    }
}