.navButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.2s linear;
}

.navButton:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: all 0.2s linear;
}

.icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 1280px) {
    .icon {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 420px) {
    .icon {
        width: 15px;
        height: 15px;
    }
}

.icon>img {
    width: 100%;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 4px;
    top: -20px;
    right: -15px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: white;
    font-weight: bold;
    font-size: 12px;
    background-color: rgb(253, 109, 7);
}

@media screen and (max-width: 1280px) {
    .counter {
        width: 10px;
        height: 10px;
    }
}

@media screen and (max-width: 520px) {
    .counter {
        width: 8px;
        height: 8px;
        right: -10px;
        top: -15px;
        font-size: 9px;
    }
}

.text {
    font-size: 14px;
    margin: 0;
    color: rgb(98, 98, 98);
}

@media screen and (max-width: 1280px) {
    .text {
        font-size: 10px;
    }
}

@media screen and (max-width: 420px) {
    .text {
        font-size: 8px;
    }
}