.footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-top: 50px;
}

.logo {
    position: absolute;
    left: 10%;
    width: 120px;
}

@media screen and (max-width:980px) {
    .logo {
        width: 80px;
    }
}

.logo>img {
    width: 100%;
}

.content {
    align-self: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 40px;
}

@media screen and (max-width:980px) {
    .content {
        margin-top: 80px;
    }
}

@media screen and (max-width:860px) {
    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;

    }
}

@media screen and (max-width:480px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
    }
}

.links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title {
    font-size: 24px;
    font-weight: bolder;
    color: rgb(98, 98, 98);
}

@media screen and (max-width:980px) {
    .title {
        font-size: 20px;
    }
}

@media screen and (max-width:480px) {
    .title {
        font-size: 24px;
    }
}

.link {
    text-decoration: none;
    color: rgb(98, 98, 98);
    opacity: 0.7;
}

@media screen and (max-width:980px) {
    .link {
        font-size: 16px;
    }
}

@media screen and (max-width:480px) {
    .link {
        font-size: 20px;
    }
}

.link:hover {
    color: rgb(253, 109, 7);
}

.social {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

@media screen and (max-width:480px) {
    .social {
        justify-content: space-between;
    }
}

.icon {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgb(98, 98, 98);
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:980px) {
    .icon {
        width: 30px;
        height: 30px;
    }
}

@media screen and (max-width:480px) {
    .icon {
        width: 40px;
        height: 40px;
    }
}

.icon>img {
    width: 25px;
    height: 25px;
    border-radius: 8px;
}

.divider {
    align-self: center;
    width: 80%;
    border: 1px solid rgb(98, 98, 98);
    margin-bottom: 40px;
}

.copyright {
    color: rgb(98, 98, 98);
    opacity: 0.7;
    font-size: 15px;
    margin-left: 10%;
    margin-bottom: 30px;
}